DealDunia.Domain/Service References/DealDuniaServiceReference/Amazon.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ItemSearch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestParams" type="tns:ItemRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ItemRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Operation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SearchIndex" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResponseGroup" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Keywords" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ItemSearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ItemSearchResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ItemSearchSoapIn">
    <wsdl:part name="parameters" element="tns:ItemSearch" />
  </wsdl:message>
  <wsdl:message name="ItemSearchSoapOut">
    <wsdl:part name="parameters" element="tns:ItemSearchResponse" />
  </wsdl:message>
  <wsdl:portType name="AmazonSoap">
    <wsdl:operation name="ItemSearch">
      <wsdl:input message="tns:ItemSearchSoapIn" />
      <wsdl:output message="tns:ItemSearchSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AmazonSoap" type="tns:AmazonSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ItemSearch">
      <soap:operation soapAction="http://tempuri.org/ItemSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AmazonSoap12" type="tns:AmazonSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ItemSearch">
      <soap12:operation soapAction="http://tempuri.org/ItemSearch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Amazon">
    <wsdl:port name="AmazonSoap" binding="tns:AmazonSoap">
      <soap:address location="http://localhost:64131/Amazon.asmx" />
    </wsdl:port>
    <wsdl:port name="AmazonSoap12" binding="tns:AmazonSoap12">
      <soap12:address location="http://localhost:64131/Amazon.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>